
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    height: 100vh;
    background: url("bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    zoom: 90%;
}


footer {
    background-color: #f8f9fa;
}

.img1 img {
    width: 100%;
    height: auto;
}

.animated-section {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
    color: white;
}

.animated-section.visible {
    opacity: 1;
    transform: translateY(0);
}

#map {
    height: 400px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

